--find-links=https://girder.github.io/large_image_wheels GDAL

# Core EO/Geo
earthengine-api
geemap==0.36.1
geopandas
shapely
pyproj
fiona
folium
owslib
palettable
plotly

# Streamlit + Map-Bridge
streamlit
streamlit-folium
